In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('VO2_data/VO2_CSV.csv', header=[0], skiprows=[1,2,3])

In [7]:
df['TIME'].head()

0    0.517167
1    1.052167
2    1.517833
3    2.040500
4    2.549000
Name: TIME, dtype: float64

In [8]:
df['TIME'] = pd.to_datetime(df['TIME'], unit='m').dt.strftime('%M:%S')
df['TIME'].head()

0    00:31
1    01:03
2    01:31
3    02:02
4    02:32
Name: TIME, dtype: object

In [9]:
print(df['TIME'])

0     00:31
1     01:03
2     01:31
3     02:02
4     02:32
5     03:02
6     03:31
7     04:00
8     04:31
9     05:00
10    05:31
11    06:02
12    06:31
13    07:00
14    07:31
15    08:02
16    08:32
17    09:01
18    09:31
19    10:01
20    10:32
21    11:00
22    11:30
23    12:01
24    12:30
25    13:01
26    13:30
27    14:00
28    14:30
29    15:01
30    15:30
31    16:02
32    16:30
33    17:00
34    17:31
35    18:01
36    18:30
37    19:00
38    19:31
39    20:00
40    20:30
41    21:01
42    21:30
43    22:00
44    22:30
45    23:00
46    23:30
47    24:00
48    24:30
49    25:00
50    25:30
51    26:00
52    26:30
53    27:00
54    27:23
Name: TIME, dtype: object