In [10]:
import datetime as dt
import pandas as pd

df = pd.read_csv('../Knes381/VO2.csv')

In [11]:
df.head()

,TIME,VO2,VO2/kg,METS,VCO2,VE,RER,RR,Vt,FEO2,FECO2,HR,VE/,VE/.1,PetCO2,Power
0,NaN,STPD,STPD,NaN,STPD,BTPS,NaN,NaN,BTPS,NaN,NaN,NaN,VO2,VCO2,NaN,NaN
1,min,L/min,ml/kg/m,NaN,L/min,L/min,NaN,BPM,L,%,%,bpm,BT/ST,BT/ST,mmHg,Watts
2,----------,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.517166674,0.247651309,4.552413464,1.300690,0.184219986,19.60388184,0.743868,17.4025135,1.126497149,19.24795151,1.362279773,82,79.15921021,106.4156113,10.53666782,50
4,1.0521667,0.687631011,12.64027596,3.611507,0.524605274,19.48801422,0.762917,22.42990494,0.868840694,16.21204948,3.827807426,84,28.34080124,37.14795685,25.49147987,50

In [12]:
print(df['TIME'])

0             NaN
1             min
2      ----------
3     0.517166674
4       1.0521667
5     1.517833352
6     2.040499926
7     2.548999786
8     3.037166595
9     3.531499863
10    4.002333164
11    4.529166222
12    5.011665821
13    5.521331787
14    6.035998821
15    6.525832176
16    7.009999752
17    7.523165226
18    8.042331696
19    8.535497665
20    9.020830154
21    9.531996727
22    10.02583027
23    10.53399849
24    11.01433182
25    11.51599979
26    12.01966667
27    12.51500034
28    13.01933289
29    13.50133228
30    14.00883102
31    14.51183128
32    15.02616596
33    15.50599957
34    16.03416634
35    16.50833511
36    17.00883675
37     17.5256691
38    18.02416611
39    18.51583099
40    19.00782776
41    19.52532578
42    20.01282501
43    20.50915909
44    21.02899551
45    21.51349449
46    22.01032257
47    22.50265694
48    23.00882339
49    23.50748825
50    24.00265503
51    24.50349236
52    25.01382637
53    25.50416183
54    26.00832558
55    26.51082611
56     27.0059948
57    27.38599777
Name: TIME, dtype: object

In [13]:
# covert time column to datetime format
df['TIME'] = pd.to_datetime(df['TIME'], format='%M.%S').dt.time

ValueError: time data 'min' does not match format '%M.%S' (match)

In [6]:
import datetime

# Example time data in minutes and seconds format
# time_data = "5.23"

# Split minutes and seconds and convert to integers
minutes, seconds = map(int, df['TIME'].split("."))

# Create a datetime object with the given minutes and seconds
df['NewTime'] = datetime.time(minute=minutes, second=seconds)

# Convert time code to string in HH:MM:SS format
#time_code_str = time_code.strftime("%M:%S")

df.head()
#print(time_code_str)

AttributeError: 'Series' object has no attribute 'split'